<div class="row">
    <div class="clearfix about-inner">

        <div class="small-12 medium-4 columns">
            <div class="person-about">
                <h3 class="about-subtitle">Ma petite histoire</h3>
                <p>
                    Originaire du Var (83), je me suis installé à Paris afin d'obtenir mon diplôme d'expert en informatique à l'Epitech en 2011.<br />
                    Depuis mon expérience professionnelle m'a permis de me perfectionner dans le domaine du web et d’appréhender les divers outils et Framework tels que Symfony, PrestaShop, GIT.
                </p>
                <div class="hide">
                    <a class="button primary">
                        <i class="fa fa-file"></i></i> Télécharger le CV
                    </a>
                </div>
            </div>
        </div>
        <!-- about me description -->

        <div class="small-6 medium-4 columns">
            <div class="person-img wow fadeIn animated" style="visibility: visible;">
                <img class="z-depth-1" src="{{ asset('bundles/sdevilcryvincentschoener/images/avatar.jpg') }}" alt="Photo de Vincent Schoener">
            </div>
        </div>
        <!-- about me image -->

        <div class="small-6 medium-4 columns">
            <div class="person-info">
                <h3 class="about-subtitle">Informations personnelles</h3>
                <h5><span>Nom :</span> Vincent Schoener</h5>
                <h5><span>Date d'anniversaire :</span> 30/01/1987</h5>
                <h5><span>Téléphone :</span> +33 6 59 77 32 22</h5>
                <h5><span>Email :</span> <a href="mailto:vincent.schoener@gmail.com"> vincent.schoener@gmail.com</a></h5>
                <h5><span>Adresse :</span> Paris, France</h5>
            </div>

            <div class="about-social">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/vintcentimes" class="btn-floating waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/VincentSchoener" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/112178834850865264182" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/profile/view?id=128811464" class="btn-floating waves-effect waves-light white"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- about me info -->

    </div>
</div>