<div class="row">
    <div class="contact-inner">
        <div class="small-12 card-box-wrap">
            <div class="clearfix section-head contact-text">
                <div class="small-12">
                    <h2 class="title">Contact</h2>
                    <p class="regular-text">Vous souhaitez me contacter ou encore me rencontrer ?</p>
                    <ul class="clearfix contact-info">
                        <li><a href="">+33 6 59 77 32 22</a>
                        </li>
                        <li><a href="mailto:vincent.schoener@gmail.com">vincent.schoener@gmail.com</a>
                        </li>
                        <li><a href="">www.vincent-schoener.fr</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clearfix contact-form">

                <div class="small-12 medium-7 columns">
                    <div class="map-wrapper">
                        <div id="map">
                            <a target="_blank" href="https://www.google.fr/maps/place/Paris/@48.858859,2.3470599,13z/data=!3m1!4b1!4m2!3m1!1s0x47e66e1f06e2b70f:0x40b82c3688c9460?hl=en">
                                <img src="{{ asset('bundles/sdevilcryvincentschoener/images/map.jpg') }}"/>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="small-12 medium-5 columns">
                    <div class="clearfix card-panel grey lighten-5 cform-wrapper">
                        <form action="{{ path('submitContactForm') }}" id="contactForm" methode="POST" data-abide>
                            <div class="input-field">
                                <label for="contact_name" class="input-label">Nom</label>
                                <input id="contact_name" type="text" name="contactName" class="validate input-box" required="">
                                <small class="error">Merci de renseigner votre Nom et / ou Prénom</small>
                            </div>
                            <div class="input-field">
                                <label for="email" class="input-label">Email</label>
                                <input id="email" type="email" name="contactEmail" class="validate input-box" required>
                                <small class="error">Merci de renseigner votre email au bon format john@doe.com</small>
                            </div>
                            <div class="input-field">
                                <label for="subject" class="input-label">Sujet</label>
                                <input id="subject" type="text" name="contactSubject" class="validate input-box" required>
                                <small class="error">Merci de renseigner l'intitulé du message</small>
                            </div>
                            <div class="input-field textarea-input">
                                <textarea id="textarea1" name="contactMessage" class="validate materialize-textarea" style="height: 22px;" required></textarea>
                                <small class="error">N'oubliez pas de laisser un petit message :)</small>
                            </div>
                            <div class="input-field submit-wrap clearfix">
                                <button type="submit" class="left button primary">Envoyer</button>
                                <div class="right form-loader-area">
                                    <svg class="circular size-20" height="20" width="20">
                                        <circle class="path" cx="10" cy="10" r="7" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
                                    </svg>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>