<div class="row">
    <div class="experience-inner">
        <div class="small-12 card-box-wrap columns">
            <div class="small-12 column end">
            <h2 class="title">Education</h2>
            <p class="regular-text">
                Depuis mon plus jeune âge (autour de mes 13 ans) je me suis intéressé à l'informatique en cherchant à tout pris à comprendre comment ça fonctionnait. J'ai ainsi pris la décision de suivre un cursus universitaire dédié à l'informatique afin de faire de ma passion, mon métier.
            </p>
        </div>
        <div class="experience-container small-12 columns padd-tb-55 end">
            <div class="row">
                <div class="small-12 medium-4 fadeInUpSmall animated columns">
                    <div class="card">
                        <div class="card-image waves-block waves-light">
                            <h2 class="left-align card-title-top">2006 -  2011</h2>
                            <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-epitech.jpg') }}" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator brand-text">Expert informatique<i class="mdi-navigation-more-vert right"></i></span>
                            <p>Epitech</p>
                        </div>
                        <div class="card-reveal" style="transform: translateY(0px);">
                            <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Apple.inc</p>
                            </div>
                            <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="small-12 medium-4 fadeInUpSmall animated columns end">
                    <div class="card">
                        <div class="card-image waves-block waves-light">
                            <h2 class="left-align card-title-top">2003 - 2006</h2>
                            <div class="valign-wrapper card-img-wrap">
                                <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-electronic.jpg') }}" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator brand-text">Bac STI Génie Electronique<i class="mdi-navigation-more-vert right"></i></span>
                            <p>Lycée de Lorgues</p>
                        </div>
                        <div class="card-reveal" style="transform: translateY(0px);">
                            <div class="rev-title-wrap">
                                <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                <p>Opensada et Auto entrepeneur</p>
                            </div>
                            <p class="rev-content">
                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>