<div class="row">
    <div class="experience-inner">
        <div class="medium-12 col-md-10 card-box-wrap columns">
            <div class="row">
                <div class="medium-12">
                    <h2 class="title">Education</h2>
                    <p class="regular-text">
                        Quelles ont été mes motivations scolaires pour en arriver ou j'en suis aujour'dhui ? C'est simple, je me suis intéressé à l'informatique
                        dès mon plus jeune âge (autour de mes 13 ans) et de la j'ai pris la décision de suivre un cursus technique afin d'avoir la meilleure formation
                        possible
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="experience-container large-12 columns padd-tb-55">
                    <div class="row">
                        <div class="small-4 fadeInUpSmall animated columns">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">2006 -  2011</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-epitech.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Expert informatique<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Epitech</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                        <p>Apple.inc</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="small-4 fadeInUpSmall animated columns end">
                            <div class="card">
                                <div class="card-image waves-block waves-light">
                                    <h2 class="left-align card-title-top">2003 - 2006</h2>
                                    <div class="valign-wrapper card-img-wrap">
                                        <img class="activator" src="{{ asset('bundles/sdevilcryvincentschoener/images/logo-electronic.jpg') }}" alt="">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator brand-text">Bac STI Génie Electronique<i class="mdi-navigation-more-vert right"></i></span>
                                    <p>Lycée de Lorgues</p>
                                </div>
                                <div class="card-reveal" style="transform: translateY(0px);">
                                    <div class="rev-title-wrap">
                                        <span class="card-title activator brand-text">UX/UI Designer<i class="mdi-navigation-close right"></i></span>
                                        <p>Opensada et Auto entrepeneur</p>
                                    </div>
                                    <p class="rev-content">
                                        Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>