<div class="row">

    <div class="small-12 medium-4 columns">
        <h2 class="title">Compétences</h2>
        <p class="regular-text">
            En véritable passionné, je suis prêt à m'investir au sein de votre société et à mettre en oeuvre tout mon savoir-faire afin de réaliser vos projets
        </p>
    </div>

    <div class="skill-container-list small-12 medium-7 medium-offset-1 columns">
        <!-- skills container -->
        <div>
            <h3>Langues</h3>
            <div class="skill-item bg-primary-color" data-percent="100">
                Français
            </div>
            <div class="skill-item bg-primary-color" data-percent="80">
                Anglais
            </div>
        </div>
        <!-- /skills container -->

        <!-- skills container -->
        <div>
            <h3>Language</h3>
            <div class="skill-item bg-primary-color" data-percent="80">
                PHP5
            </div>
            <div class="skill-item bg-primary-color" data-percent="70">
                MySQL
            </div>
            <div class="skill-item bg-primary-color" data-percent="65">
                JAVASCRIPT
            </div>
            <div class="skill-item bg-primary-color" data-percent="60">
                CSS3
            </div>
            <div class="skill-item bg-primary-color" data-percent="60">
                HTML5
            </div>
            <div class="skill-item bg-primary-color" data-percent="50">
                C / C ++
            </div>
            <div class="skill-item bg-primary-color" data-percent="40">
                SCRIPT SHELL
            </div>
        </div>
        <!-- /skills container -->

        <!-- skills container -->
        <div>
            <h3>Framework - CMS</h3>
            <div class="skill-item bg-primary-color" data-percent="80">
                PrestaShop
            </div>
            <div class="skill-item bg-primary-color" data-percent="60">
                Symfony 2
            </div>
            <div class="skill-item bg-primary-color" data-percent="50">
                Wordpress
            </div>
        </div>
        <!-- /skills container -->

        <!-- skills container -->
        <div>
            <h3>Administration système</h3>
            <div class="skill-item bg-primary-color" data-percent="90">
                LAMP
            </div>
            <div class="skill-item bg-primary-color" data-percent="65">
                Load Balancing
            </div>
            <div class="skill-item bg-primary-color" data-percent="60">
                VPN
            </div>
            <div class="skill-item bg-primary-color" data-percent="50">
                MySQL Replication
            </div>
            <div class="skill-item bg-primary-color" data-percent="30">
                Varnish
            </div>
        </div>
        <!-- /skills container -->

        <!-- skills container -->
        <div>
            <h3>Gestion de projet</h3>
            <div class="skill-item bg-primary-color" data-percent="60">
                SCRUMB AGILE - KANBAN
            </div>
            <div class="skill-item bg-primary-color" data-percent="75">
                JIRA
            </div>
            <div class="skill-item bg-primary-color" data-percent="85">
                BITBUCKET - GITHUB
            </div>
        </div>
        <!-- /skills container -->

    </div>

</div>
<div class="btn-wrapp skl-ctrl">
    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left bg-black-color text-center"><i class="fa fa-arrow-up"></i></a>
    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right bg-black-color text-center"><i class="fa fa-arrow-down"></i></a>
</div>