<div class="row">
    <div class="testimonial-inner">
        <div class="small-12 medium-10 card-box-wrap">
            <div class="row">
                <div class="clearfix section-head testimonial-text">
                    <div class="small-12">
                        <h2 class="title fg-primary-color">testimonial</h2>
                        <p class="regular-text">Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.</p>
                    </div>
                </div>
                <div class="large-12">
                    <div class="overflow-hidden">
                        <div class="row">
                            <div id="testimonialSlider" class="clearfix card-element-wrapper owl-carousel owl-theme">
                                <div class="small-6 single-card-box wow fadeInUpSmall animated columns">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <div class="card-img-wrap">
                                                <img class="activator" src="images/client5.png" alt="">
                                                <i class="fa fa-quote-right right fg-light-grey-color"></i>
                                                <p class="saying-about">Amazing theme, amazing code and especially amazing support! I Really love your work.</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator brand-text">Jonh Smith -</span>
                                            <a href="#">CEO, Apple Inc</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-wrapp tmo-ctrl">
            <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
            <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
        </div>
    </div>
</div>