{% extends "SdevilcryVincentSchoenerBundle::layout.html.twig" %}

{% block content %}
    <section id="home" class="scroll-section">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="small-12 column">
                        <div class="home-inner">
                            <div class="text-center home-content">
                                <h1 class="home-title">
                                    Hey ! Je suis <br />
                                    <span>Vincent Schoener</span>
                                </h1>
                                <h2 class="home-subtitle">Développeur à Paris, France</h2>
                                <a href="#contact" class="button primary">
                                    <i class="fa fa-envelope-o"></i> Me recruter
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-call-to-area">
                <div class="container">
                    <div class="row">
                        <a href="#about" class="btn-floating btn-large button-middle call-to-about section-call-to-btn animated btn-show text-center" data-section="#about">
                            <i class="fa fa-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap">
        <div class="container">
            {% include "SdevilcryVincentSchoenerBundle::partial/_about-me.html.twig" %}
        </div>
        <!-- .container end -->
    </section>

    <section id="skill" class="scroll-section root-sec white skill-wrap">
        <div class="sec-overlay">
            <div class="container">
                {% include "SdevilcryVincentSchoenerBundle::partial/_skill.html.twig" %}
            </div>
        </div>
        <!-- .container end -->
    </section>

    <section id="experience" class="scroll-section root-sec padd-tb-120 brand-bg experience-wrap">
        <div class="container">
            {% include "SdevilcryVincentSchoenerBundle::partial/_experience.html.twig" %}
        </div>
    </section>

    <section id="education" class="scroll-section root-secbrand-bg">
        <div class="sec-overlay lighter padd-tb-120">
            <div class="container">
                {% include "SdevilcryVincentSchoenerBundle::partial/_education.html.twig" %}
            </div>
        </div>
    </section>

    <section id="testimonial" class="scroll-section root-secbrand-bg">
        <div class="sec-overlay lighter padd-tb-120">
            <div class="container">
                {% include "SdevilcryVincentSchoenerBundle::partial/_testimonial.html.twig" %}
            </div>
        </div>
    </section>

    <section id="contact" class="scroll-section root-secbrand-bg">
        <div class="sec-overlay lighter padd-tb-120">
            <div class="container">
                {% include "SdevilcryVincentSchoenerBundle::partial/_contact.html.twig" %}
            </div>
        </div>
    </section>

    <footer id="footer" class="root-sec white root-sec footer-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix footer-inner">
                        <ul class="left social-icons">
                            <li><a href="#" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul> <!-- ./social icons end -->
                        <div class="right copyright">
                            <p>Vincent Schoener © All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./container end-->
    </footer>
{% endblock %}